<%#
	Edge is a clean HTML5 theme for LuCI. It is based on luci-theme-material edge Template

	luci-theme-Edge
	Copyright 2020 Kiddin'

	Have a bug? Please create an issue here on GitHub!
	https://github.com/kiddin9/luci-theme-edge/issues 

	luci-theme-Argon: 
	Copyright 2019 Jerrykuku <jerrykuku@qq.com>
	
	Edge Theme
	https://demos.creative-tim.com/edge-dashboard/index.html 

	Licensed to the public under the Apache License 2.0
-%>

<%
	local sys = require "luci.sys"
	local util = require "luci.util"
	local http = require "luci.http"
	local disp = require "luci.dispatcher"
	local ver = require "luci.version"

	local boardinfo = util.ubus("system", "board")

	local node = disp.context.dispatched
    
	local fs = require "nixio.fs"
	local nutil = require "nixio.util"
	local uci = require 'luci.model.uci'.cursor()
    
    
    
	-- send as HTML5
	http.prepare_content("text/html")

	math.randomseed(tonumber(tostring(os.time()):reverse():sub(1, 9)))
    
	-- Custom settings
	local mode = 'normal'
	local dark_css = fs.readfile('/www/luci-static/edge/css/dark.css')
	local bar_color = '#09c'
	local primary, dark_primary, blur_radius, blur_radius_dark, blur_opacity
	if fs.access('/etc/config/edge') then
		primary = uci:get_first('edge', 'global', 'primary')
		dark_primary = uci:get_first('edge', 'global', 'dark_primary')
		blur_radius = uci:get_first('edge', 'global', 'blur')
		blur_radius_dark = uci:get_first('edge', 'global', 'blur_dark')
		blur_opacity = uci:get_first('edge', 'global', 'transparency')
		blur_opacity_dark = uci:get_first('edge', 'global', 'transparency_dark')
		mode = uci:get_first('edge', 'global', 'mode')
		bar_color = mode == 'dark' and dark_primary or primary
	end
-%>
<!DOCTYPE html>
<html lang="<%=luci.i18n.context.lang%>">

<head>
	<meta charset="utf-8">
	<title>
		<%=striptags( (boardinfo.hostname or "?") .. ( (node and node.title) and ' - ' .. translate(node.title) or '')) %>
		- LuCI</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
	<meta name="format-detection" content="telephone=no, email=no" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="x5-fullscreen" content="true">
	<meta name="full-screen" content="yes">
	<meta name="x5-page-mode" content="app">
	<meta name="browsermode" content="application">
	<meta name="theme-color" content="#09c">
	<meta name="msapplication-tap-highlight" content="no">
	<meta name="msapplication-TileColor" content="#09c">
	<meta name="application-name" content="<%=striptags( (boardinfo.hostname or "?") ) %> - LuCI">
	<meta name="apple-mobile-web-app-title" content="<%=striptags( (boardinfo.hostname or "?") ) %> - LuCI">
	<meta name="msapplication-TileImage" content="<%=media%>/logo.png" />
	<link rel="icon" href="<%=media%>/logo.png" sizes="144x144">
	<link rel="apple-touch-icon-precomposed" href="<%=media%>/logo.png" sizes="144x144">
	<link rel="stylesheet" href="<%=media%>/landscape.css">
	<link rel="stylesheet" href="<%=media%>/waves.css">
	<link rel="stylesheet" href="<%=media%>/cascade.css">
	<link rel="shortcut icon" href="<%=media%>/favicon.ico">
	<% if node and node.css then %>
	<link rel="stylesheet" href="<%=media%>/css/cascade.css<%# ?v=PKG_VERSION %>">
	<style title="text/css">
		<% if mode == 'normal' then %>
			@media (prefers-color-scheme: dark) {
				<%=dark_css%>
			}
		<% elseif mode == 'dark' then %>
			<%=dark_css%>
		<% end -%>
		<% if fs.access('/etc/config/edge') then %>
		:root {
			--primary: <%=primary%>;
			--dark-primary: <%=dark_primary%>;
			--blur-radius:<%=blur_radius%>px;
			--blur-opacity:<%=blur_opacity%>;
			--blur-radius-dark:<%=blur_radius_dark%>px;
			--blur-opacity-dark:<%=blur_opacity_dark%>;
		}
		<% end -%>
	</style>
	<link rel="shortcut icon" href="<%=media%>/favicon.ico">
	<% if node and node.css then %>
	<link rel="stylesheet" href="<%=resource%>/<%=node.css%>">
	<% end -%>
	<% if css then %>
	<style title="text/css">
		<%=css %>
	</style>
	<% end -%>
	<script src="<%=media%>/js/jquery.min.js?v=3.5.1"></script>
</head>

<body
	class="lang_<%=luci.i18n.context.lang%> <% if node then %><%= striptags( node.title ) %><% end %> <% if luci.dispatcher.context.authsession then %>logged-in<% end %>"
	data-page="<%= table.concat(disp.context.requestpath, "-") %>">

<p class="chromeframe">您使用的浏览器过于老旧,
请使用<a href="https://www.microsoft.com/zh-cn/edge"> Edge </a>, <a href="https://www.mozilla.org/zh-CN/firefox/new/"> Firefox </a>等高级浏览器.</a></p>
